:root{
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primaty: #242424;
  --bg-secondary: #323232;
}
.navbar{
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-primaty) ;
  transition: width 200ms ease;
}
.nav-logo1{
  margin-right: 10px;
  margin-left:25px;
  width: 30px;
  height: 30px;
  background: url("./arrow.svg") no-repeat center center;
  filter: invert(69%) sepia(0%) saturate(11%) hue-rotate(213deg) brightness(89%) contrast(86%);

}

.nav-logo2{
  margin-left:25px;
  width: 40px;
  height: 40px;
  background: url("./eye-regular.svg") no-repeat center center;
  filter: invert(69%) sepia(0%) saturate(11%) hue-rotate(213deg) brightness(89%) contrast(86%);

}

.nav-logo3{
  margin-right: 5px;
  margin-left:25px;
  width: 35px;
  height: 35px;
  background: url("./info.svg") no-repeat center center;
  filter: invert(69%) sepia(0%) saturate(11%) hue-rotate(213deg) brightness(89%) contrast(86%);

}

.nav-logo4{
  margin-left:25px;
  width: 40px;
  height: 40px;
  background: url("./cloud-computing.svg") no-repeat center center;
  filter: invert(69%) sepia(0%) saturate(11%) hue-rotate(213deg) brightness(89%) contrast(86%);

}

.navbar-nav{
  list-style: none;
  padding:0;
  margin: 0;
  display: flex;
  flex-direction: column;
  margin-top: -360px;
  /* align-items: center; */
}

.nav-link{
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
}

.link-text{
  display: none;
  margin-left: 2rem;

}
.navbar:hover{
  width:16rem;
}

.navbar:hover .link-text{
  display: block;
}


.navbar:hover .line{
  width: 16rem;
}

.nav-link:hover{
  filter: grayscale(0%) opacity(1);
  background-color: var(--bg-secondary);
  color: #F435D3;
  width: 16rem;
}

.nav-link:focus .nav-logo3{
  filter: invert(51%) sepia(80%) saturate(6186%) hue-rotate(296deg) brightness(106%) contrast(104%);

}

.nav-link:focus .nav-logo4{
  filter: invert(51%) sepia(80%) saturate(6186%) hue-rotate(296deg) brightness(106%) contrast(104%);
  
}

.nav-link:focus .nav-logo2{
  filter: invert(51%) sepia(80%) saturate(6186%) hue-rotate(296deg) brightness(106%) contrast(104%);
  
}
.line{
  position: relative;
  border: 0.5px solid #999999;
  margin: 0%;
  width:5rem;
}

.image-view{
  width: auto;
  height: 800px;
  align-content: center;
  margin-top: 5vh;
  padding-right: 5vh;
  position: absolute;
}