.comToPrint{
    overflow: hidden;
}

.print-container{
    position: static;
    margin-left: 450px;
    margin-top: -400px;
}

.print-des-txt{
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.by-circle,.hot-circle,.veg-circle,.mod-circle,.pid-circle,.ss-circle,.sr-circle{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.by-circle{
    background-color: #0F01C6;
}

.hot-circle{
    background-color: #FF0000;
}

.veg-circle{
    background-color: #059908;
}

.pid-circle{
    background-color: #8E0CFF;
}

.mod-circle{
    background-color: #FF8B00;
}

.ss-circle{
    background-color: #00FF76;
}

.sr-circle{
    background-color: #FF66EC;

}

.table-print{
    margin-top: 170px;
}

table, td, th {
    border: 1px solid black;
    text-align: center;
  }

table {
    width: 100%;
    border-collapse: collapse;
  }


.Display-container{
    position: relative;
    text-align: left;
}

.paper{
    position: absolute;
    top: 0px;
    left: 12px;
}

.racklist{
    position: absolute;
    top: 0px;
    left: 12px;
    color: white;
    font-weight: bold;
  }