
.updes{
    color: #F5F5F5;
    margin-top: 20px;

    text-align: center;
}

.file-upload-pre-btn,.file-upload-btn{
    width: 400px;
    height: 70px;
    margin-top: 45px ;
    border-radius: 10px;
    background-color: #2F91FF;
    outline: none;
    color: #EFEFEF;
    font-size: 24px;
    position: absolute;
    border: 0px;
    outline: none;
}

.file-upload-pre-btn{
    opacity: 0.38;
}
.file-upload-btn:hover{
    background-color: #429BFF;
}

.file-upload-btn:focus{
    background-color: #6BB1FF;
}

.example-btn{
    width: 200px;
    height: 36px;
    color: #2F91FF;
    font-size: 16px;
    position: absolute;
    right: -80px;
    top: 8px;
    cursor: pointer;
}

.example-btn:hover{
    color:#429BFF;
}

.example-btn:focus{
    color:#6BB1FF;
}

hr{
    margin-left: 50px;
    width: 465px;

}
.Present{
    margin-left: 50px;
    font-size: 24px;
    color: #FCFCFC;

}
.file-input {
    display: none;
} 

.file-display-container{
    position:absolute;
    overflow-y: auto;
    width: 520px;
    height: 405px;
    scrollbar-width: thin;
    scrollbar-color:#2F91FF #CFD8DC;
   
}

.file-display-container::-webkit-scrollbar{
    width: 11px;
}

.file-display-container::-webkit-scrollbar-track{
    background:#2D2D2D;
    border-radius: 6px;
}

.file-display-container::-webkit-scrollbar-thumb{
    background-color: #2F91FF;
    border-radius: 6px;
    border: 2px solid #2D2D2D;
}

.fileCard{
    position: static;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: #2D2D2D;
    border-radius: 10px;
    margin-left: 50px;

}

.fileCard:hover{
    background-color: #323232;
}


.container {
    transform: translateY(-100%);
}

.container p {
    color: red;
    text-align: center;
}

.drop-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 350px;
    border: 4px dashed #323232;
    border-radius: 10px;
    background-color: #2D2D2D;
    cursor: pointer;
    margin-right: 100px;

}

.upload-icon {
    width: 70px;
    height: 70px;
    background: url("./img/upload.svg") no-repeat center center; 
    background-size: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
    margin-bottom: 20px;
    filter: invert(48%) sepia(37%) saturate(3239%) hue-rotate(193deg) brightness(100%) contrast(103%);
}
.DragMessage {
    color: #999999;
}


.drop-message {
    text-align: center;
    color: #999999;
    font-family: Roboto;
    font-size: 20px;
}
  
.file-status {
    position: static;
}

.file-status-bar{
    width: 420px;
    vertical-align:top;
    /* margin-top: 20px; */
    position: absolute;
    line-height: 50px;
    height: 50px;
    margin-left: 20px;
}
  
.file-status-bar > div {
    overflow: hidden;
}
  
.file-name {
    display: inline-block;
    vertical-align:top;
    margin-left: 60px;
    color: #2F91FF;
    margin-top: 20px;
    font-size: 16px;
}

.file-error-message {
    border-radius: 10px;
    width: 440px;
    height: 90px;
    position: absolute;
    top:0px;
    font-size: 24px;
    left: -20px;
    background-color: #F8376f;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 22px;
}

.file-error-message:hover{
    background-color: #F96089;
}


.error-icon{
    position: absolute;
    margin-top: 4px;
    text-align: center;
    vertical-align: center;
    width: 40px;
    height:40px;
    background-color: #000000;
    border-radius: 50%;
  display: inline-block;
}
  
.file-type-logo {
    width: 50px;
    height: 50px;
    background: url('./img/picture.png') no-repeat center center; 
    background-size: 100%;
    position: absolute;
    margin-top: 20px;
    filter: invert(48%) sepia(37%) saturate(3239%) hue-rotate(193deg) brightness(100%) contrast(103%);
    margin-left: -5px; 
}

.file-size {
    position: absolute;
    display:inline-block;
    vertical-align:top;
    right: 80px;
    color: #999999;
    font-size: 14px;
    margin-top: 22px;

}
  
.file-remove,.file-remove2 {
    position: absolute;
    top: 20px;
    right: 15px;
    line-height: 15px;
    cursor: pointer;
    background: url('./img/cancel.svg') no-repeat center center;
    width: 35px;
    height: 35px;
    margin-top: 7px;
    border-radius: 5px;
}
.file-remove{
    filter: invert(99%) sepia(77%) saturate(191%) hue-rotate(203deg) brightness(109%) contrast(92%);
}
.file-remove:hover {
    filter: invert(53%) sepia(74%) saturate(3924%) hue-rotate(195deg) brightness(102%) contrast(100%);
}

.file-remove2{
    z-index: 2;
    filter: invert(0%) sepia(100%) saturate(7500%) hue-rotate(59deg) brightness(89%) contrast(111%);
}


.modal{
    z-index: 999;
    display: none;
    overflow: hidden;
}

.modal .overlay,.overlay2{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.66);
    position: absolute;
}

.modal .overlay{
    top: 0;
    left: 0;
}

.overlay2{
    top: -125px;
    left: -277px;
    z-index: 1;
}

.modal .modal-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* overflow: hidden; */
    object-fit: cover;
    width: 75%;
    height: 75%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.close,.close2 {
    position: fixed;
    top: 15px;
    right: 35px;
    cursor: pointer;
    background: url('./img/cancel.svg') no-repeat center center;
    width: 50px;
    height: 50px;
    filter: invert(99%) sepia(5%) saturate(6%) hue-rotate(54deg) brightness(106%) contrast(98%);
}

.close:hover,.close2:hover{
    filter: invert(53%) sepia(74%) saturate(3924%) hue-rotate(195deg) brightness(102%) contrast(100%);
}

.close:focus.close2:focus{
    filter: invert(71%) sepia(38%) saturate(4413%) hue-rotate(189deg) brightness(102%) contrast(111%);
}

.close2{
    z-index: 2;
}

.upload-modal {
    z-index: 999;
    display: none;
    overflow: hidden;
}

.upload-modal .overlay{
    width: 112.6vw;
    height: 100vh;
    background: black;
    position: absolute;
    top: -100px;
    left: -260px;
    opacity: 0.7;
    z-index: 1;
}


.example-container{
    background:#242424;
    width: 900px;
    height: 500px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    border-radius: 5px;
    text-align: center;
    z-index: 2;
    
    
}

.progress-container {
    background:#222222;
    width: 500px;
    height: 150px;
    position: absolute;
    top: 40%;
    left: 48%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    border-radius: 5px;
    text-align: center;
    z-index: 2;
}

.progress-container span {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: 20px;
    color: white;
}

.progress {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #2C2C2C;
    height: 20px;
    border-radius: 5px;
}

.progress-bar {
    position: absolute;
    background-color: #2F91FF;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    color: white;
    /* font-weight: bold; */
    border-color: #2F91FF;
    font-family: 'Roboto', sans-serif;
}

.error {
    color: red;
}

.Recommend-txt{
    color: #FFFFFF;
    font-size: 20px;
    position: absolute;
    color: #2F91FF;
    margin-top: 15px;

}
.dot{
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #2F91FF;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
}

.Gdot{
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #ff8d00;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
}

.Bdot{
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #2F91FF;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 250px;
}

.bef-dot{
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 20px;
}
.example-header{
    width: 400px;
    height: 50px;
    background-color: #2D2D2D;
    margin-left:-32px;
    margin-bottom: 20px;
}
.example-modal{
    z-index: 999;
    display: none;
    overflow: hidden;
}

.number_file{
    font-size: 24px;
    position: absolute;
    margin-top: -70px;
    margin-left: 250px;
}

.descrip{
    width: 200px;
    position: absolute;
    margin-top: 420px;
    margin-left: 50px;
}