@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  box-sizing: border-box;
}
.border-1px-mountain-mist {
  border: 1px solid var(--mountain-mist);
}
.landing1 {
  background-color: #1D1D1D;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover; /* or 100% 100% */
  height: 100vh;
}
.landing1 .btn {
  /* border-radius: 5px; */
  height: 57px;
  width: 300px;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
}

.landing1 .txt {

  font-family: 'Roboto', sans-serif;
}

.landing1 .card{
  display: flexbox;
  top: 50px;
  height: 600px;
  width: 1000px;
  background-color: #242424;

  
}

.landing1 .card-header{
  font-size: 24px;
  color: #E8398A;
  text-align: center;
  margin-bottom: 330px;  
  background-color: #2C2C2C;  
}

.card-body{
  padding-top: 5em; 
  height: 0px;
}

.landing1 #uploadtxt{
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 20px;
}

.engCha{
  background: url("./flat-cha2.svg") no-repeat center center;
  width: 300px;
  height: 540px;
  margin-top: 150px;
  margin-left: 75px;
  /* background-size: 100%; */
}

.SolFlat{
  position: absolute;
  background: url("./Flat-Solar.svg") no-repeat center center;
  width: 300px;
  height: 153px;
  margin-left: 50px;
}

.s2{
  margin-top: 540px;
  
}
.s1{
  margin-top: 320px;

}
.s0{
  margin-top: 100px;

}
